<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LifeSpots</title>
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header class="header-index">
        <!--Заголовок страницы-->
        <h1>LifeSpots - прямые трансляции с улиц</h1>
        <!--Параграф-->
        <p>Покажем, что происходит прямо сейчас</p>
    </header>
    <div class="search">
        <label class="search_text_label" for="search">Поиск</label>
        <input class="search_input" type="text" name="search"/>
    </div>
    <aside>
        <div class="navbar">
            <a href="/"><p>Все трансляции</p></a>
            <a href="/"><p>О проекте</p></a>
        </div>
    </aside>
    <div class="bordered">
        <div class="video-container">
            <iframe width="500" height="315" src="https://www.youtube.com/embed/srlpC5tmhYs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h3 class="video-title">Нью-Йорк, Брайант Парк</h3>
        </div>
        <div class="video-container">
            <iframe width="500" height="315" src="https://www.youtube.com/embed/wCcMcaiRbhM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h3 class="video-title">Санкт-Петербург, Невский Проспект</h3>
        </div>
        <div class="video-container">
            <iframe width="500" height="315" src="https://www.youtube.com/embed/JplMzss6_YE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h3 class="video-title">Лондон, автобусный маршрут</h3>
        </div>
    </div>
    <footer>
        <p>LifeSpots - все права защищены</p>
        <p>Связаться с нами: contact@LifeSpots.ru</p>
    </footer>
</body>
</html>